.card-container {
    cursor: pointer;
    height: 200px;
    width: 300px;
    
  }
  
  .card {
    height: 180px;
    width: 300px;
    position: absolute;
    border: 1px solid #300;
    color: rgb(36, 35, 35);
    font-size: 1em;
    
  }

  
 